body {
    background-color: lightgray;
}

#poster {

    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.character { 

    background-color: whitesmoke;

}

img {

    margin-left: 20px;
}

#star {

    font-size: 20px;
}

#link:hover {

    color: red;
    font-size: x-large;

}